{% extends 'base.twig' %}
{% block main %}
<section>
    <h2>The world of Jurassic Park</h2>

    {% for dino in dinosaurs %}

        <a href="/dinosaur/{{ dino.slug }}/">
            <figure>
                <img src="https://allosaurus.delahayeyourself.info/static/img/dinosaurs/{{ dino.slug }}.jpg" alt="" />
                <figcaption>{{ dino.slug }}</figcaption>
            </figure>
        </a>
    {% endfor %}
        <a href="">
            <figure>
                <img src="https://allosaurus.delahayeyourself.info/static/img/dinosaurs/{{ dino.slug }}.jpg" alt="" />
                <figcaption>Discover the Brachiosaurus</figcaption>
            </figure>
        </a>
</section>
{% endblock %}